<%- include('header'); %>
	<%- include('tram_pred_querybox'); %>

	<style>
		.table td {text-align: center;}
		.table th {text-align: center;}
		.table {font-size:0.9em;}
	</style>

	<% if (typeof params !== "undefined"){ %>
		<% if (error) { %>
			<p>Sorry, there are errors on the input of parameters.</p>
		<% }else{
			<p>Hello</p>
		<% } %>
	<% } %>

<%- include('footer'); %>