<%- include('header'); %>
	<script src="/socket.io/socket.io.js"></script>
	<script language = "javascript">
		
		var socket = io();

		socket.on('connect', function () {
			socket.on('msg', function(data) {
				document.getElementById("msg").innerHTML =
					"<span style='color: " + data.color + "'>"
					+ "(" + data.date.toString() + ")"
					+ "<strong>" + data.message + "</strong>"
					+ "</span><br/>"
					+ document.getElementById("msg").innerHTML;
			});
		});

		function clear_msg(){
			document.getElementById("msg").innerHTML = "";
		}

	</script>
	<div class="container">
		<button type="button" class="btn btn-default" onclick="clear_msg()">Clear Messages</button>
		<div id = "msg"></div>
	</div>
<%- include('footer'); %>